@{
    ViewData["Title"] = "Course C#";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"] </h2>


<strong><p>Professor @ViewData["Professor"] </p></strong>

<address>
    <strong>More information:   </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>